p{
    margin-left:'3%';
}

.carousel{
    width:100%;
    padding-right: 18px;
}

.courses{
    padding-left: 5px;
    position: relative;
    height: 100%;

    p{
        font-family: 'Montserrat';
        font-size: 16px;
        color: #1C2B2B;
        font-weight: 100;
    }

    li{
        margin-bottom: 12px;

        p{
            margin: 0;
        }
    }

    ul{
        &:before{
            color: #fff;
        }
    }
    
    a{
        padding: 5px;
        text-align: center;
        background: #281E78;
        font-family: 'Fredoka One';
        font-size: 22px;
        color: white;
        width: 207px;
        border-radius: 10px;
        border: 0;
    }

    .title{
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 600;
        color: #281E78;
        text-align: center;
    }
}

.optionals p,
.courses h1{
    font-family: 'Montserrat';
    font-size: 16px;
    color: #1C2B2B;
    font-weight: 600;
    margin: 0;
}

.optionals{
    padding-left: 5px;
}

.schoolInfo h1{
    font-family: 'Montserrat';
    font-size: 27px;
    font-weight: 600;
    color: #281E78;
    margin-bottom: 0;
}

.schoolInfo h2{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 300;
    color: #1C2B2B;
    margin-bottom: 0;
}

.schoolInfo{
    margin-bottom: 20px;
}

.card{
    max-width: 950px;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px grey;
}


/*Responsividade*/

@media (max-width: 768px){
    .courses .title{
        display: none;
    }
    .courses .quoteButton{
        display: none;
    }
    .optionals h1{
        font-size: 17px;
    }
    .optionals .schoolInfo{
        display: none;
    }
    .schoolInfo h1{
        font-size: 17px;
    }
    carousel{
        max-width: 325px;
        max-height: 177px;
        margin: auto;
    }
}